@charset "utf-8";

/* Common */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0
}

body,
input,
textarea,
select,
button,
table {
    font-size: 10px
}

img,
fieldset {
    border: 0
}

ul,
ol {
    list-style: none
}

em,
address {
    font-style: normal
}

a,
button {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:hover,
a:active,
a:focus {
    text-decoration: underline
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#wrap {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;
    font-size: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
}



li {
    list-style: none;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
}

dd,
dl {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input[type=checkbox] {
    cursor: pointer;
}

/* 링크 스타일 */

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

/* 공통 스타일 */

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.disable {
    display: none !important;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
}

.container {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
    width: 100%;
    background-color: #e9e9e9;
}



.m_block {
    display: block !important;
}